<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"> </head>
<body class="container">
<h1 th:text="${title}"></h1>
<nav th:replace="fragments :: navigation"></nav>

<a href="/user/login/">Log In</a>

<form method="post"  style="max-width:600px;" th:object="${user}">
    <div class="form-group">
        <label th:for="name">User Name</label>
        <input class="form-control" th:field="*{username}" />
        <span th:errors="*{username}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="email">Email</label>
        <input class="form-control" th:field="*{email}"/>
        <span th:errors="*{email}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="password">Password</label>
        <input class="form-control" th:field="*{password}" type="password"/>
        <span th:errors="*{password}" class="error"></span>
    </div>
    <div class="form-group">
        <label for="pwdVerify-field">Verify Password</label>
        <input class="form-control" type="password" name="verify" id="pwdVerify-field"/>
        <span th:errors="*{password}" class="error"></span>
    </div>

    <input type="submit" value="Add User" />
</form>

</body>
</html>