<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}"></h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${books} and ${books.size()}"> No Books :(</p>

<table class="table">
    <tr th:each="book : ${books}">
        <td th:text="${book.name}">Key</td>
        <td th:text="${book.author}">Value</td>
        <td><a th:href="@{'/book/edit/' + ${book.bookId}}">edit</a></td>
    </tr>
</table>

</body>
</html>